<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>/root/.m2/</localRepository>
    <mirrors>
        <mirror>
            <id>buukle-rdc-releases</id>
            <mirrorOf>central</mirrorOf>
            <name>buukle-rdc-releases</name>
            <url>https://buukle-maven.pkg.coding.net/repository/buukle-rdc/maven/</url>
        </mirror>
        <mirror>
            <id>buukle-rdc-snapshots</id>
            <mirrorOf>central</mirrorOf>
            <name>buukle-rdc-snapshots</name>
            <url>https://buukle-maven.pkg.coding.net/repository/buukle-rdc/maven/</url>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>buukle-rdc-releases</id>
            <username>612e2f7c4e5db15d526e1661</username>
            <password>DY]23U059P0B</password>
        </server>
        <server>
            <id>buukle-rdc-snapshots</id>
            <username>612e2f7c4e5db15d526e1661</username>
            <password>DY]23U059P0B</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>buukle-rdc</id>
            <repositories>
                <repository>
                    <id>buukle-rdc-releases</id>
                    <url>https://buukle-maven.pkg.coding.net/repository/buukle-rdc/maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>buukle-rdc-snapshots</id>
                    <url>https://buukle-maven.pkg.coding.net/repository/buukle-rdc/maven/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>buukle-rdc-releases</id>
                    <url>https://buukle-maven.pkg.coding.net/repository/buukle-rdc/maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>buukle-rdc-snapshots</id>
                    <url>https://buukle-maven.pkg.coding.net/repository/buukle-rdc/maven/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>buukle-rdc</activeProfile>
    </activeProfiles>
</settings>